<section class="banner">
    <h2>O seu novo carro te espera!</h2>
    <p>Financie em até 60x!</p>
</section>

<section class="estoque">
    <h2>Veículos destaques de hoje!</h2>
    
    <p *ngIf="veiculosDestaque.length === 0" style="text-align:center">Carregando ofertas...</p>

    <div class="grid">
        <div class="card" *ngFor="let item of veiculosDestaque">
            
            <img [src]="item.imagem" [alt]="item.nome">
            
            <h3>{{ item.nome }}</h3>
            <p>{{ item.preco }}</p>
            
            <button [routerLink]="['/detalhes', item.id]">Detalhes</button>
        </div>
    </div>
</section>